.body {
    background: #dfe9e7;
}

.waznyTekst {
    color: rgb(2, 19, 177);
    background: rgba(9, 73, 136, 0.5);
}

.mniejWaznyTekst {
    color: rgb(3, 107, 107);
}

.pamietniczek {
    color: #1460AA;
}

.paragraph {
    color: rgb(46, 100, 91);
}

.footer {
    color: rgb(9, 230, 238);
    background: rgb(69, 70, 78);
}

.link {
    color: rgb(105, 105, 226);
}
